{% extends 'base.html.twig' %}


{% block body %}

    <div class="flex">
        <div class=" flex border-b-2 border-black w-8/12">
            <h1 class="text-6xl font-bold pb-2">My Quiz!</h1>
            
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <h1 class="m-2 p-2 text-bold">Welcome {{ app.user.pseudo }}!</h1>
                <a href="{{ path('categorie_index') }}"><p class="m-2 border border-transparent rounded p-2 text-extrabold hover:border-black transition duration-500 ease-in-out">Catégories</p></a>
                <a href="{{ path('profile') }}"><p class="m-2 border border-transparent rounded p-2 text-extrabold hover:border-black transition duration-500 ease-in-out">My Profile</p></a>
                <a href="{{ path('historique') }}"><p class="m-2 border border-transparent rounded p-2 text-extrabold hover:border-black transition duration-500 ease-in-out">Historique</p></a>
            {% endif %}
            {% if is_granted('IS_AUTHENTICATED_FULLY') == false %}
                <a href="{{ path('login') }}"><p class="m-2 border border-transparent rounded p-2 text-extrabold hover:border-black transition duration-500 ease-in-out">Login</p></a>
                <a href="{{ path('categorie_index') }}"><p class="m-2 border border-transparent rounded p-2 text-extrabold hover:border-black transition duration-500 ease-in-out">Catégories</p></a>            
            {% endif %}
        </div>
        <div class="flex w-2/6 items-center justify-center">
            {% if app.user %}
                <a href="{{ path('logout') }}"><p class="p-2 m-2 float-left">Logout</p></a>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('admin') }}">Admin Panel</a>
            {% endif %}
        </div>
    </div>

    {% for message in app.flashes('success') %}
        <div class="alert flex flex-row items-center bg-green-200 p-5 rounded border-b-2 border-green-300">
            <div class="alert-icon flex items-center bg-green-100 border-2 border-green-500 justify-center h-10 w-10 flex-shrink-0 rounded-full">
				<span class="text-green-500">
					<svg fill="currentColor"
                         viewBox="0 0 20 20"
                         class="h-6 w-6">
						<path fill-rule="evenodd"
                              d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                              clip-rule="evenodd"></path>
					</svg>
				</span>
            </div>
            <div class="alert-content ml-4">
                <div class="alert-title font-semibold text-lg text-green-800">
                    Success
                </div>
                <div class="alert-description text-sm text-green-600">
                    {{ message }}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
